<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="as"
            id="com.as3mxml.contenttype.actionscript3"
            name="ActionScript 3.0"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mxml"
            id="com.as3mxml.contenttype.mxml"
            name="MXML"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="asconfig.json"
            file-patterns="asconfig.*.json"
            id="com.as3mxml.contenttype.asconfig"
            name="ActionScript &amp; MXML Configuration"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.as3mxml.eclipse.AS3MXMLConnectionProvider"
            id="com.as3mxml.eclipse.languageServer"
            label="ActionScript &amp; MXML Language Server">
      </server>
      <contentTypeMapping
            contentType="com.as3mxml.contenttype.actionscript3"
            id="com.as3mxml.eclipse.languageServer">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="com.as3mxml.contenttype.mxml"
            id="com.as3mxml.eclipse.languageServer">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.as3mxml.contenttype.actionscript3"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="com.as3mxml.contenttype.mxml"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="com.as3mxml.contenttype.asconfig"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="com.as3mxml.contenttype.actionscript3">
      </presentationReconciler>
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="com.as3mxml.contenttype.mxml">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/AS3.tmLanguage"
            scopeName="source.actionscript.3">
      </grammar>
      <grammar
            path="syntaxes/MXML.tmLanguage"
            scopeName="text.mxml">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="com.as3mxml.contenttype.actionscript3"
            scopeName="source.actionscript.3">
      </scopeNameContentTypeBinding>
      <scopeNameContentTypeBinding
            contentTypeId="com.as3mxml.contenttype.mxml"
            scopeName="text.mxml">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="com.as3mxml.contenttype.actionscript3"
            path="language-configurations/actionscript.configuration.json">
      </languageConfiguration>
      <languageConfiguration
            contentTypeId="com.as3mxml.contenttype.mxml"
            path="language-configurations/mxml.configuration.json">
      </languageConfiguration>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.as3mxml.eclipse.AS3MXMLPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
